.place__title {
  align-self: end;
  /* Сброс стандартного внешнего вида */
  margin: 0;
  /* Параметры шрифта */
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
}

@media screen and (max-width: 1024px) {
  .place__title {
    /* Плавное уменьшение размера шрифта при изменении ширины браузера */
    font-size: 7.03vw;
    line-height: 1.06;
  }
}

@media screen and (max-width: 768px) {
  .place__title {
    /* Плавное уменьшение размера шрифта при изменении ширины браузера */
    font-size: 5.48vw; /* Соответствует макету для vw=768px */
    line-height: 1.1;
    letter-spacing: 1px;
  }
}

@media screen and (max-width: 425px) {
  .place__title {
    font-size: 10vw; /* Соответствует макету для vw=320px */
    line-height: 1.09;
    width: calc(100% - 2 * 16px);
  }
}

@media screen and (max-width: 320px) {
  .place__title {
    font-size: 32px; /* Фиксированное значение, чтобы больше не уменьшался */
    width: calc(100% - 2 * 16px);
  }
}
